.loginContainer {
  max-width: 100%;
  overflow: hidden;
  margin: 5rem 0 8rem;
}

.loginContainer h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.formContainer {
  border-radius: 10px;
  background: #f9f6f6;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  padding-top: 3rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.loginContainer form {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.columnTwo input {
  width: 100%;
  box-sizing: border-box;
}

.columnOne label {
  display: block;
  margin-bottom: 0.5rem;
}
.navLists li a {
  color: #f9f6f6;
}

button {
  background: blue;
  color: white;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.loginButton:disabled {
  cursor: not-allowed;
}

@media (max-width: 720px) {
  input {
    max-width: 100%;
  }
  .formContainer {
    width: 90%;
    overflow: hidden;
    padding: 1rem;
    padding-top: 2rem;
  }
  .loginContainer form {
    width: 80%;
  }
  .formTopSection,
  .formBottomSection {
    grid-gap: 1rem;
  }
}
